<!-- wp:group {"className":"is-style-gatewood-topography-bg-dark","layout":{"type":"default"}} -->
<div class="wp-block-group is-style-gatewood-topography-bg-dark"><!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header","theme":"gatewood"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"},"margin":{"top":"0","bottom":"0"},"blockGap":"var:preset|spacing|60"}},"layout":{"type":"constrained","contentSize":"620px"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--80);padding-bottom:var(--wp--preset--spacing--80)"><!-- wp:paragraph {"align":"center","style":{"typography":{"lineHeight":"1.4"}},"fontSize":"extra-large"} -->
<p class="has-text-align-center has-extra-large-font-size" style="line-height:1.4">We couldn’t find the page you’re looking for. You can search for it with the form below.</p>
<!-- /wp:paragraph -->

<!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Search for...","width":420,"widthUnit":"px","buttonText":"Search","align":"center","borderColor":"tertiary"} /--></main>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer","theme":"gatewood"} /-->

<p><!-- /wp:group --></p>