<!-- wp:group {"className":"is-style-gatewood-topography-bg-dark","layout":{"type":"default"}} -->
<div class="wp-block-group is-style-gatewood-topography-bg-dark"><!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header","theme":"gatewood"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}},"className":"is-style-default","layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group is-style-default" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--70);padding-bottom:var(--wp--preset--spacing--70)"><!-- wp:columns {"align":"wide","style":{"spacing":{"margin":{"bottom":"0px"},"blockGap":{"top":"var:preset|spacing|70","left":"var:preset|spacing|70"}}}} -->
<div class="wp-block-columns alignwide" style="margin-bottom:0px"><!-- wp:column {"width":"74%","style":{"spacing":{"blockGap":"var:preset|spacing|70"}}} -->
<div class="wp-block-column" style="flex-basis:74%"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:query-title {"type":"archive"} /-->

<!-- wp:term-description {"style":{"spacing":{"margin":{"top":"0","right":"0","bottom":"0","left":"0"}}},"textColor":"primary","fontSize":"extra-large"} /--></div>
<!-- /wp:group -->

<!-- wp:separator {"style":{"spacing":{"margin":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}},"backgroundColor":"secondary","className":"is-style-gatewood-dashed"} -->
<hr class="wp-block-separator has-text-color has-secondary-color has-alpha-channel-opacity has-secondary-background-color has-background is-style-gatewood-dashed" style="margin-top:var(--wp--preset--spacing--70);margin-bottom:var(--wp--preset--spacing--70)"/>
<!-- /wp:separator -->

<!-- wp:template-part {"slug":"loop","theme":"gatewood"} /--></div>
<!-- /wp:column -->

<!-- wp:column {"width":"21%","className":"site-sidebar-col"} -->
<div class="wp-block-column site-sidebar-col" style="flex-basis:21%"><!-- wp:template-part {"slug":"sidebar","tagName":"aside","className":"site-sidebar","theme":"gatewood"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer","theme":"gatewood"} /--></div>
<!-- /wp:group -->