<!-- wp:template-part {"slug":"header-large","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"className":"is-style-default","layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group is-style-default" style="margin-top:0;margin-bottom:0">
	<!-- wp:template-part {"slug":"loop","align":"wide"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->