<!-- wp:template-part {"slug":"header","theme":"abisko","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}}},"className":"is-style-default","layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group is-style-default" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--70);padding-bottom:var(--wp--preset--spacing--70)"><!-- wp:template-part {"slug":"loop","theme":"abisko","align":"wide"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"abisko","tagName":"footer","className":"site-footer"} /-->