<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"className":"is-style-default","layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group is-style-default" style="margin-top:0;margin-bottom:0">
	<!-- wp:columns {"verticalAlignment":"bottom","align":"wide","style":{"spacing":{"margin":{"top":"var:preset|spacing|90"}}}} -->
	<div class="wp-block-columns alignwide are-vertically-aligned-bottom"
		style="margin-top:var(--wp--preset--spacing--90)"><!-- wp:column {"verticalAlignment":"bottom"} -->
		<div class="wp-block-column is-vertically-aligned-bottom">
			<!-- wp:query-title {"type":"search","showSearchTerm":false} /--></div>
		<!-- /wp:column -->

		<!-- wp:column {"verticalAlignment":"bottom"} -->
		<div class="wp-block-column is-vertically-aligned-bottom">
			<!-- wp:group {"style":{"spacing":{"padding":{"bottom":"0.1em"}}},"layout":{"type":"constrained","justifyContent":"left"},"fontSize":"heading-1"} -->
			<div class="wp-block-group has-heading-1-font-size" style="padding-bottom:0.1em">
				<!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Search for...","width":100,"widthUnit":"%","buttonText":"Search","buttonUseIcon":true} /-->
			</div>
			<!-- /wp:group -->
		</div>
		<!-- /wp:column -->
	</div>
	<!-- /wp:columns -->

	<!-- wp:template-part {"slug":"loop","align":"wide"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->